.tracks-grid {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

.tracks-grid thead tr th {
  color: #fff;
  padding: 4px 10px 4px 0;
  font-size: 9pt;
  font-weight: 300;
  text-align: left;
}

.track-row {
  border-bottom: 1px solid #393b40;
  padding: 4px 10px 4px 0;
  cursor: pointer;
  font-size: 9pt;
}

.track-row:hover,
.track-row.active {
  background-color: #2f2f2f;
}
